In [ ]:
# Import libraries use for visualization and analysis
import pandas as pd
import numpy as np

%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt

from pandas import Series,DataFrame
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import scale
from sklearn.decomposition import PCA
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from scipy import stats
from IPython.display import display, HTML

In [ ]:
from google.colab import drive
drive.mount('/gdrive')

Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).

# **Loading the Data**

In [ ]:
df_Ellis  = pd.read_csv("/gdrive/MyDrive/LFN Anuket/Analysis/data/Final/Final.csv")
#df_Bono  = pd.read_csv("/gdrive/MyDrive/LFN Anuket/Analysis/data/matrices/df_Bono.csv", error_bad_lines=False)
#df_Sprout  = pd.read_csv("/gdrive/MyDrive/LFN Anuket/Analysis/data/matrices/df_Sprout.csv", error_bad_lines=False)
#df_Homer  = pd.read_csv("/gdrive/MyDrive/LFN Anuket/Analysis/data/matrices/df_Homer.csv", error_bad_lines=False)
#df_Homestead  = pd.read_csv("/gdrive/MyDrive/LFN Anuket/Analysis/data/matrices/df_Homestead.csv", error_bad_lines=False)
#df_Ralf  = pd.read_csv("/gdrive/MyDrive/LFN Anuket/Analysis/data/matrices/df_Ralf.csv", error_bad_lines=False)

In [ ]:
df_Ellis.head()

         Timestamp  ...  ellis-net.out_packets_sec
0  14/09/2016 0:00  ...                     62.067
1  14/09/2016 0:00  ...                     59.567
2  14/09/2016 0:01  ...                     61.200
3  14/09/2016 0:01  ...                     60.400
4  14/09/2016 0:02  ...                     61.700

[5 rows x 7 columns]

In [ ]:
df_Ellis.describe()

       ellis-cpu.system_perc  ...  ellis-net.out_packets_sec
count          177000.000000  ...              177000.000000
mean                2.315540  ...                1336.694851
std                 1.170977  ...                2220.146124
min                 0.100000  ...                   0.000000
25%                 1.500000  ...                 182.033000
50%                 1.700000  ...                 200.067000
75%                 3.500000  ...                1069.667000
max                16.700000  ...                7887.552000

[8 rows x 6 columns]

In [ ]:
#df_Ellis['SLO1'] = 0
#print('Column names are: ',list(df_Ellis.columns))

In [ ]:
df4 = df_Ellis["ellis-load.avg_1_min"] > 2.45
df4
df4.to_csv('/gdrive/MyDrive/LFN Anuket/Analysis/data/Final/EllisLoadAvgLabel_lessthan0198.csv')
df4.head(50)

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
Name: ellis-load.avg_1_min, dtype: bool

In [ ]:
df3 = df_Ellis["ellis-cpu.wait_perc"] > 5
df3
df3.to_csv('/gdrive/MyDrive/LFN Anuket/Analysis/data/Final/ellis-cpu>5.csv')
df3.head(50)

0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
11    True
12    True
13    True
14    True
15    True
16    True
17    True
18    True
19    True
20    True
21    True
22    True
23    True
24    True
25    True
26    True
27    True
28    True
29    True
30    True
31    True
32    True
33    True
34    True
35    True
36    True
37    True
38    True
39    True
40    True
41    True
42    True
43    True
44    True
45    True
46    True
47    True
48    True
49    True
Name: ellis-cpu.wait_perc, dtype: bool

In [ ]:
df5 = df_Ellis["ellis-net.out_packets_sec"] > 1000
df5
df5.to_csv('/gdrive/MyDrive/LFN Anuket/Analysis/data/Final/ellis-net.in_bytes_sec21139.csv')
df5.head(50)

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
Name: ellis-net.out_packets_sec, dtype: bool

In [ ]:
# We are applying Logical OR Operator between df4 and df3
df6 = (df4[0:176999]) | (df3[0:176999])
df6.head(50)

0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
11    True
12    True
13    True
14    True
15    True
16    True
17    True
18    True
19    True
20    True
21    True
22    True
23    True
24    True
25    True
26    True
27    True
28    True
29    True
30    True
31    True
32    True
33    True
34    True
35    True
36    True
37    True
38    True
39    True
40    True
41    True
42    True
43    True
44    True
45    True
46    True
47    True
48    True
49    True
dtype: bool

In [ ]:
df6.to_csv('/gdrive/MyDrive/LFN Anuket/Analysis/data/Final/OR_TwoCondition(2).csv')
df6.head(50)

0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
11    True
12    True
13    True
14    True
15    True
16    True
17    True
18    True
19    True
20    True
21    True
22    True
23    True
24    True
25    True
26    True
27    True
28    True
29    True
30    True
31    True
32    True
33    True
34    True
35    True
36    True
37    True
38    True
39    True
40    True
41    True
42    True
43    True
44    True
45    True
46    True
47    True
48    True
49    True
dtype: bool

In [ ]:
df7 = (df6[0:176999]) | (df5[0:176999])
df7.head(50)

0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
11    True
12    True
13    True
14    True
15    True
16    True
17    True
18    True
19    True
20    True
21    True
22    True
23    True
24    True
25    True
26    True
27    True
28    True
29    True
30    True
31    True
32    True
33    True
34    True
35    True
36    True
37    True
38    True
39    True
40    True
41    True
42    True
43    True
44    True
45    True
46    True
47    True
48    True
49    True
dtype: bool

In [ ]:
df7.to_csv('/gdrive/MyDrive/LFN Anuket/Analysis/data/Final/FinalORLabel8.5.csv')
df7.head(50)

0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
11    True
12    True
13    True
14    True
15    True
16    True
17    True
18    True
19    True
20    True
21    True
22    True
23    True
24    True
25    True
26    True
27    True
28    True
29    True
30    True
31    True
32    True
33    True
34    True
35    True
36    True
37    True
38    True
39    True
40    True
41    True
42    True
43    True
44    True
45    True
46    True
47    True
48    True
49    True
dtype: bool

In [ ]:
df_Ellis.insert (7, "Label", df7)

In [ ]:
#df_Ellis.insert (8, "Label", df7)

In [ ]:
# We applied Logical OR operator in two features only known as  and df3 and df4 and stored result in df6 which is known as Final Label after applying OR condition
df_Ellis
df_Ellis.to_csv('/gdrive/MyDrive/LFN Anuket/Analysis/data/Final/Ellis_FinalTwoConditionwithOR.csv')

In [ ]:
df_Ellis.head(100)

          Timestamp  ellis-cpu.system_perc  ...  ellis-net.out_packets_sec  Label
0   14/09/2016 0:00                    0.5  ...                     62.067   True
1   14/09/2016 0:00                    0.4  ...                     59.567   True
2   14/09/2016 0:01                    0.4  ...                     61.200   True
3   14/09/2016 0:01                    0.4  ...                     60.400   True
4   14/09/2016 0:02                    0.5  ...                     61.700   True
..              ...                    ...  ...                        ...    ...
95  14/09/2016 0:47                    0.5  ...                     60.100   True
96  14/09/2016 0:48                    0.5  ...                     60.233   True
97  14/09/2016 0:48                    0.6  ...                     60.667   True
98  14/09/2016 0:49                    0.6  ...                     60.367   True
99  14/09/2016 0:49                    0.6  ...                     59.600   True

[100 rows x 8 columns]

In [ ]:
# pandas count distinct values in column
df_Ellis['Label'].value_counts()

False    112145
True      64854
Name: Label, dtype: int64

In [ ]:
#final.to_csv('/gdrive/MyDrive/LFN Anuket/Analysis/data/New/FinalLabel.csv')

In [ ]:
#df_Ellis.loc[(df_Ellis["ellis-cpu.wait_perc"] > 5) & (df_Ellis["ellis-load.avg_1_min"] > 2)]

# **Creating New Features**